.form {
  padding: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin: 0.5rem;
}

.control input {
  display: block;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
}

.actions {
  text-align: center;
}

.actBtn {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
